:root{
    --clr-white:#fff;
    --clr-dark: #233040;
    --clr-light-blue: #205269;
    --clr-light-green: #34675B;
    --clr-lighter-green: #90D4C5;

    --fs-primary:2.5rem;
    --fs-links: 1.125rem;
    --fs-secondary:2rem;
    --fs-body:1rem;
    --fs-small:.875rem;

    --ff-p: 'Barlow', sans-serif;
    --ff-headers: 'Fraunces', serif; 

    --fw-barlow: 600;
    --fw-700: 700;
    --fw-900:900;
}


/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*Tipografia*/

body{
    font-family: var(--ff-p);
    text-align: center;
    font-size: var(--fs-body);
}

.intro-title,
.square-title,
.square-link,
.testimonial-title,
.client-id,
.service-sub{
    font-family: var(--ff-headers);  
}




.square-title,
.grapic-design-sub{
    font-size: var(--fs-secondary);
}


.square-link{
    text-transform: uppercase;
    color: var(--clr-dark);
    text-decoration: none;
    position:relative;
    cursor: pointer;
}

.square-link::before{
    position: absolute;
    content: "";
    height:.5em;
    width: 100%;
    top: .8em;
    z-index: -1;
    background-color:#e9dd97;
}


header{
    background-color:#3EBFFF;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em 1.5em;
}

nav{
    display: none;
    background-color: var(--clr-white);
    position: fixed;
    top: 10%;
    right: 5%;
    height: fit-content;
    width: 90%;
    z-index: 300;
}


.nav-list{
    list-style: none;
    padding:1em 0;
}

.nav-links{
    margin-bottom: 1.2em;
}

.nav-links:last-child{
    margin-top: 1.5em;
}

.nav-link{
    text-decoration: none;
    color: grey;
}

.contact{
    font-size:var(--fs-small);
    font-family: var(--ff-headers);
    color: var(--clr-dark);
    text-transform: uppercase;
    border-radius: 20px;
    padding:1em 1.5em;
    background-color: #FDD100;
}


.hamburger{
  z-index: 1000;
}

/*INTRO SECTION STYLE*/

.intro{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #3EBFFF;
}

.intro .main-container{
  padding: 0;
}


.intro-orange-bg{
  object-fit:cover;
}

.intro-arrow{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
}

.intro-title{
  margin: 1em 0 ;
  line-height: 1.2;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  font-size: var(--fs-primary);
  letter-spacing: 3px;
  color: var(--clr-white);
}



.main-container{
  padding:1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.square-section{
  text-align: center;
}

.square-body{
  margin: 1em 0;
  width: 90%;
}

.square-link{
  display: inline-block;
  
}

/*Services*/
.service-graphic,
.service-photo{
  position: relative;
}

.service-img{
  z-index: -1;
}

.service-description{
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -90%);
  width: 100%;
  padding: 0 1.5em;
}


.service-sub{
  font-weight: var(--fw-900);
  font-size: var(--fs-secondary);
  
}

.service-body{
  margin-top: 1em;
  margin-bottom: 2em;
}

.service-graphic .service-sub,
.service-graphic .service-body{
  color: var(--clr-light-green);
}

.service-photo .service-sub,
.service-photo .service-body{
  color: var(--clr-light-blue);
}


/*Testimonial*/

.testimonial{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonial-title{
  margin: 2em 0;
  color: grey;
  letter-spacing: 4px;
  font-size: var(--fs-small);
}

.clients-container{
  padding: 1.5em;
}

.client{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.client img{
  border-radius: 50%;
  width: 64px;
}

.client-id{
  margin-top: 1.5em;
}

.client-job{
  font-size: var(--fs-small);
  color: grey;
  margin-bottom: 2em;
}


/*Gallery*/

.images-container{
  display: grid;
  grid-template-columns: repeat(2,50%);

  grid-template-areas: 
  "milk orange-milk"
  "cone sugar";
}

.milk-img{grid-area: milk;}
.orange-img{grid-area: orange-milk;}
.cone-img{grid-area: cone;}
.cubes-img{grid-area: sugar;}

/*Footer*/

footer{
  background-color: var(--clr-lighter-green);
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer img{
  width: 150px;
  padding: 2em 0;
}

.footer-list{
  width: 90%;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  max-width: 400px;
}

.footer-link{
  color:#34675B;
  text-decoration: none;
  cursor: pointer;
}

.socials{
  max-width: 200px;
  display: flex;
  justify-content: space-between;
  width: 50%;
  padding: 2em;
}

.socials img{
  width: 18px;
  padding: 0;
}


@media(min-width:765px){

    .container{
    
    }

    nav{
      background-color: #3EBFFF;
      position: static;
      max-width: 500px;
    }

    .nav-list{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin: 0;
      padding: 0;
    }

    .nav-links{
      margin: 0;
    }
    
    .nav-link{
      color: #fff;
    }

    .contact{
      color: inherit;
      align-self: center;
      display:block;
      margin-bottom: 1.5em;
    }


    .intro-orange-bg{
      content: url("images/desktop/image-header.jpg");
      max-height: 500px;
    }

    .intro-title{
      text-align: center;
    }

    .square-section{
      max-width: 1000px;
      margin: 0 auto;
    }


    main{
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(2, 50%);
      grid-template-areas:
      "text-one egg"
      "glass text-two"
    }

    .text-one{grid-area: text-one;}
    .egg-img{
      grid-area: egg;
      content: url("images/desktop/image-transform.jpg");
    }
    .text-two{grid-area: text-two;}
    .glass-img{
      content: url("images/desktop/image-stand-out.jpg");
      grid-area: glass;
    }
    .service-graphic{grid-area: graphic;}
    .service-photo{grid-area:photo;}
    
    .egg-img,
    .glass-img,
    .graphic-img,
    .photo-img{
      flex-shrink: 0;
      min-width: 100%;
      min-height: 100%
    }
    
    .square-section{
      display: flex;
    }

    .main-container{
      padding-left: 4em;
      padding-right: 4em;
      text-align: left;
      align-items: flex-start;
    }

    .services{
      grid-column: 1/3;
      display: flex;
      justify-content: center;
    }

    .service-graphic,
    .service-photo{
      width: 50%;
    }
    .graphic-img{content: url("images/desktop/image-graphic-design.jpg");}
    .photo-img{content: url("images/desktop/image-photography.jpg");}


    .service-description{
      width: 80%;
    }

    .clients-container{
      display: flex;
      width: 80%;
      justify-content: space-between;
    }

    .client-body{
      width: 80%;
      margin-top: 1em;
    }


    .images-container{
      display: flex;
    }

    .images-container img{
      width: 25%;
    }



}






@media(min-width:1200px){

  html{
    font-size: 20px;
  }

}







